@using Microsoft.AspNetCore.Identity
@using NanolekPrototype.EntityModels.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div id="sidebar-item">
        <img src="/EnterIcon.png" class="img-fluid" alt="Responsive image">
        <a class="nav-link text-white" asp-controller="Account" asp-action="Index" title="Manage">Вы вошли как: @User.Identity.Name</a>
</div>
