<div class="popup-fade">
<div id="popup">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Введите пароль</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>Пароль</dt>
                <dd><input type="text" id="passwordText" value="" /></dd>

                <dt>Причина</dt>
                <dd><input type="text" value="" /></dd>
            </dl>
            <button class="btn btn-primary" type="submit" value="OK" onclick="CheckPasswordOnRevision()">ОК</button>
            <button class="btn btn-warning" value="Cancel" onclick="window.history.back()">Отменить</button>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>
    $("#layoutBackground").css("pointer-events", "none");
    $("#popup").show();

    function CheckPasswordOnRevision(parameters) {
        if ($("#passwordText").val() == "1") {
            $("#popup").hide();
            $("#layoutBackground").css("pointer-events", "auto");
            $(".popup-fade").css("display", "none");
        } else {
            alert("Пароль неверный, попробуйте еще раз");
        }
    }
</script>