#loginForm {
    padding-top: 10%;
}

#loginInputs {
    padding: 5% 2.5% 0% 2.5%;
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    width: 25%;
}

#loginPicture {
    border-radius: 0px 20px 20px 0px;
}

#loginButton {
    background: #06B7B7;
    width: 100%;
    border-radius: 30px;
    border: none;
}

#keyButton {
    background: #06B7B7;
    border: none;
}

#loginTitle {
    font-size: 25px;
    padding-left: 20px;
    font-weight: bold;
}

.bi-key-fill {
    font-size: larger;
}


.login-form-group {
    padding-top: 5%;
    margin-bottom: 1rem;
}

.login-label {
    color: #9FA2B4;
}