.main {
    padding: 30px !important;
}

.main-header {
    padding-bottom: 5%;
}

.main-table {
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.scroll-table {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    overflow: auto;
    border-radius: 10px;
}



    .table thead th {
        vertical-align: middle;
        border-bottom: 2px solid #058284;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-bottom: 1px solid #DFE0EB;
        border-top: none;
    }

.table {
    width: 95% !important;
}

.table-box {
    width: 95%;
    overflow: auto;
}

.information {
    background-color: white;
    display: flex;
}

#content {
    max-width: 86%;
}