@model NanolekPrototype.EntityModels.Models.PackagingProtocol

@{
    ViewData["Title"] = "Commentary";
}

<div class="header-and-back-button">
    <h1>Отмена протокола упаковки</h1>
    <a class="btn nav-back-button" asp-action="Index">Вернуться назад</a>
</div>

<form asp-action="CancelProtocol">
    <div class="form-group">
        <label asp-for="CancellationReason" class="control-label"></label>
        <input asp-for="CancellationReason" class="form-control" />
        <span asp-validation-for="CancellationReason" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Отменить протокол" class="btn btn-primary" />
    </div>
</form>

@{
    await Html.RenderPartialAsync("~/Views/Shared/SendOnRevisionPartial.cshtml");
}