@model NanolekPrototype.EntityModels.Models.TableSampleSelection

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TableSampleSelection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FormSamplingFinishedProductId" value="@ViewData["FormSamplingFinishedProductId"]"/>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountOfSampleSelection" class="control-label"></label>
                <input asp-for="CountOfSampleSelection" class="form-control" />
                <span asp-validation-for="CountOfSampleSelection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeOKK" class="control-label"></label>
                <select asp-for="EmployeeOKKId" class ="form-control" asp-items="ViewBag.EmployeeOKKId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="FormSamplingFinishedProducts" asp-action="Details" asp-route-id="@ViewData["FormSamplingFinishedProductId"]">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
