@model NanolekPrototype.EntityModels.Models.TableSampleSelection

@{
    ViewData["Title"] = "Edit";
}

<div class="header-and-back-button">
    <h1>Редактировать запись</h1>
    <a class="btn nav-back-button" asp-controller="FormSamplingFinishedProducts" asp-action="Details" asp-route-id="@Model.FormSamplingFinishedProductId">Вернуться назад</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IsActive" />
            <input type="hidden" asp-for="FormSamplingFinishedProductId" value="@Model.FormSamplingFinishedProductId" />
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountOfSampleSelection" class="control-label"></label>
                <input asp-for="CountOfSampleSelection" class="form-control" />
                <span asp-validation-for="CountOfSampleSelection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeOKK" class="control-label"></label>
                <select asp-for="EmployeeOKKId" class="form-control" asp-items="ViewBag.EmployeeOKKId"></select>
                <span asp-validation-for="EmployeeOKKId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
