@model NanolekPrototype.EntityModels.Models.TableReceptionOfMaterial

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TableReceptionOfMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FormReceptionAndMovementOfPackingMaterialId" />
            <input type="hidden" asp-for="IsActive" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivedFoil" class="control-label"></label>
                <input asp-for="ReceivedFoil" class="form-control" />
                <span asp-validation-for="ReceivedFoil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingProduction" class="control-label"></label>
                <input asp-for="RemainingProduction" class="form-control" />
                <span asp-validation-for="RemainingProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SAPPart" class="control-label"></label>
                <input asp-for="SAPPart" class="form-control" />
                <span asp-validation-for="SAPPart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerSerialNumber" class="control-label"></label>
                <input asp-for="ManufacturerSerialNumber" class="form-control" />
                <span asp-validation-for="ManufacturerSerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnalyticalSheetNumberOKK" class="control-label"></label>
                <input asp-for="AnalyticalSheetNumberOKK" class="form-control" />
                <span asp-validation-for="AnalyticalSheetNumberOKK" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFoilMeetsControlParameters" /> @Html.DisplayNameFor(model => model.IsFoilMeetsControlParameters)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ShiftMaster" class="control-label"></label>
                @Html.DropDownList("ShiftMasterId", ViewBag.ShiftMasters, null, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="FormReceptionAndMovementOfPackingMaterials" asp-action="Details" asp-route-id="@Model.FormReceptionAndMovementOfPackingMaterialId">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
